<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFile-Appender"
			fileName="/opt/tomcat9/logs/referexpert.log"
			filePattern="/opt/tomcat9/logs/referexpert.%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="25 MB" />
			</Policies>
			<DefaultRolloverStrategy max="60" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile-Appender" level="info,error" />			
			<AppenderRef ref="Console-Appender" level="info" />
		</Root>
	</Loggers>
</Configuration>